
#save{
  width:50% !important;
  MARGIN-LEFT: 43PX !important;
  MARGIN-RIGHT: 43PX !important;
}
#proceed{
  width:25% !important;
}



.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    width: 100%;
    color: black !important;
    background-color: #8abe40 !important;
    border-color: #7cab3a !important;
}